@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeOut {
  from { 
    opacity: 1; 
  }
  to { 
    opacity: 0; 
  }
}
.fade-out {
  animation: fadeOut 800ms ease-out forwards;
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(350px);
  }
}
.slide-out-right {
  animation: slideOutRight 800ms ease-out forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(350px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slide-in-right {
  animation: slideInFromRight 800ms ease-out forwards;
}
@keyframes fadeInSlow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-slow {
  animation: fadeInSlow 800ms ease-out forwards;
}
.input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #999999;
  outline: none;
}

.input:focus {
  border-color: #018fff;
}

.error {
  color: #ef4444;
  font-size: 13px;
  margin-top: 4px;
}
.fake-cursor {
  position: absolute;
  width: 3px;
  height: 22px;
  background: #018FFF;

  opacity: 0;
  pointer-events: none;

  /* ✅ IMPORTANT: ONLY left/top animated (NOT transform) */
  transition-property: left, top, opacity;
  transition-duration: 2.2s;     /* ✅ THIS IS THE SPEED */
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);

  animation: blink 1s steps(2, start) infinite;
}

.fake-cursor.visible {
  opacity: 1;
}

.fake-cursor.instant {
  transition-duration: 0ms !important;   /* ✅ FORCE INSTANT */
}

.fake-cursor.paused {
  animation: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
